%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/

    %title= content_for?(:title) ? "#{yield(:title)} - #{Spree::Config[:site_name]}".html_safe : "#{t(:welcome_to)} #{Spree::Config[:site_name]}"
    - if Rails.env.production?
      = favicon_link_tag "/favicon.ico"
    - else
      = favicon_link_tag "/favicon-staging.ico"
    %link{href: font_path("OFN-v2.woff"), rel: "preload", as: "font", crossorigin: "anonymous"}
    %link{href: font_path("Monofur-PK7og.ttf"), rel: "preload", as: "font", crossorigin: "anonymous"}
    %link{href: font_path("SteinerLight-JR1o.ttf"), rel: "preload", as: "font", crossorigin: "anonymous"}

    = stylesheet_link_tag "darkswarm/all"
    = csrf_meta_tags

  %body.off-canvas{"ng-app" => "Darkswarm", style: "background-image: url(#{image_path('tile-wide.png')})" }
    / [if lte IE 8]
      = render partial: "shared/ie_warning"
      = javascript_include_tag "iehack"

    .off-canvas-wrap{offcanvas: true}
      .inner-wrap

        %section{ role: "main" }
          = yield

          #footer
    %loading

    = javascript_include_tag "darkswarm/all"
    = yield :scripts

    = inject_current_user
    = yield :injection_data

    = render "layouts/i18n_script"
    = render "layouts/bugherd_script"
